/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.item-content-input {
  border-radius: 4px;
  background: #f8f9fa;
  padding: 3px 4px 3px;
  margin: 3px 5px 3px;
}

.code {
  border-radius: 3px;
  background: #293233;
  padding: 6px 12px 6px;
  margin: 6px 18px 6px;
}
.item-link:hover {
  background-color: rgba(145, 24, 24, 0.3);
}
.item-radio:hover {
  background-color: rgba(145, 24, 24, 0.3);
}
.item-checkbox:hover {
  background-color: rgba(145, 24, 24, 0.3);
}
.chip:hover {
  background-color: rgba(187, 136, 136, 0.5);
}

/* Hide navbar link which opens left panel when it is visible by breakpoint  */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.list textarea {
  height: auto;
}
.code textarea {
  height: 720px;
  font-family: var(--font-mono);
  font-size: 13px;
  color: greenyellow;
}

:root {
  --f7-font-family: 'Poppins';
  --f7-font-size: 12px;
}

.menu-left {
  min-width: 150px; 
  max-width: 150px;
}

.not-used {
  color: #1b44a6;
}